<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registo - Post</title>
</head>
<body>
  <h1>Cadastramento de Posts</h1>
  <form action="/backoffice/posts" method="POST">
    <label for=""><span>Titulo</span>
      <input type="text" name="titulo">
    </label>
    <label for=""><span>Texto</span>
      <input type="text" name="texto">
    </label>
    <button type="submit">regista</button>
  </form>
</body>
</html>